@charset "UTF-8";
html, body{width:100%; max-width:1200px; margin:0 auto; padding:0;}
img{width:100%;}
h1, img, input, div{margin:0; padding:0;}
/* login.jsp */
.container{width:100%; max-width:1200px; margin:0 auto;}
.form-title img{max-width:150px; max-height:150px;}
.form-body{text-align:center; padding:10%;}
.form-body .form-group{padding:1% 0;}
.form-body .form-group .form-control{height:30px; width:30%;}
.form-body .form-control-btn{width:12%; height:30px; margin-top:1%;}